absl-py==0.2.0
appnope==0.1.0
astor==0.6.2
attrdict==2.0.0
backcall==0.1.0
bleach==1.5.0
cycler==0.10.0
decorator==4.3.0
#deepexplain==0.1
#fairml==0.1.1.5
gast==0.2.0
grpcio==1.11.0
h5py==2.7.1
html5lib==0.9999999
iml==0.6.0
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
Keras==2.1.6
lime==0.1.1.29
Markdown==2.6.9
matplotlib==2.1.0
networkx==2.1
numpy==1.14.0
olefile==0.44
pandas==0.20.3
parso==0.2.0
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
protobuf==3.4.0
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
git+git://github.com/dmelis/robust_interpret.git
scikit-image==0.13.1
scikit-learn==0.19.1
scikit-optimize==0.5.2
scipy==1.0.0
seaborn==0.8.1
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.8.0
tensorboardX==1.0
tensorflow==1.8.0
tensorflow-tensorboard==0.1.8
termcolor==1.1.0
torch==0.3.0.post4
torchvision==0.2.0
tqdm==4.19.4
traitlets==4.3.2
wcwidth==0.1.7
weka==1.0.1
Werkzeug==0.12.2
